<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PaperMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TR_PAPER
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		SPECIAL_ID,	
		FILE_PATH,	
		CHOICE_NUM,	
		CHOICE_GRADE,	
		CHOICE_ANSWER,	
		CHOICE_DOUBLE_NUM,	
		CHOICE_DOUBLE_GRADE,	
		CHOICE_DOUBLE_ANSWER,	
		FILL_NUM,	
		FILL_ANSWER,	
		FILL_GRADE,	
		SUBJECTIVE_NUM,	
		SUBJECTIVE_ANSWER,	
		SUBJECTIVE_GRADE,	
		TOTLE_GRADE,	
		ADD_USER,	
		ADD_TIME,	
		TITLE,	
		PAPER_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{SPECIAL_ID},	
		#{FILE_PATH},	
		#{CHOICE_NUM},	
		#{CHOICE_GRADE},	
		#{CHOICE_ANSWER},	
		#{CHOICE_DOUBLE_NUM},	
		#{CHOICE_DOUBLE_GRADE},	
		#{CHOICE_DOUBLE_ANSWER},	
		#{FILL_NUM},	
		#{FILL_ANSWER},	
		#{FILL_GRADE},	
		#{SUBJECTIVE_NUM},	
		#{SUBJECTIVE_ANSWER},	
		#{SUBJECTIVE_GRADE},	
		#{TOTLE_GRADE},	
		#{ADD_USER},	
		#{ADD_TIME},	
		#{TITLE},	
		#{PAPER_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			PAPER_ID = #{PAPER_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			SPECIAL_ID = #{SPECIAL_ID},
			FILE_PATH = #{FILE_PATH},
			CHOICE_NUM = #{CHOICE_NUM},
			CHOICE_GRADE = #{CHOICE_GRADE},
			CHOICE_ANSWER = #{CHOICE_ANSWER},
			CHOICE_DOUBLE_NUM = #{CHOICE_DOUBLE_NUM},
			CHOICE_DOUBLE_GRADE = #{CHOICE_DOUBLE_GRADE},
			CHOICE_DOUBLE_ANSWER = #{CHOICE_DOUBLE_ANSWER},
			FILL_NUM = #{FILL_NUM},
			FILL_ANSWER = #{FILL_ANSWER},
			FILL_GRADE = #{FILL_GRADE},
			SUBJECTIVE_NUM = #{SUBJECTIVE_NUM},
			SUBJECTIVE_ANSWER = #{SUBJECTIVE_ANSWER},
			SUBJECTIVE_GRADE = #{SUBJECTIVE_GRADE},
			TOTLE_GRADE = #{TOTLE_GRADE},
			ADD_USER = #{ADD_USER},
			ADD_TIME = #{ADD_TIME},
			TITLE = #{TITLE},
		PAPER_ID = PAPER_ID
		where 
		PAPER_ID = #{PAPER_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			PAPER_ID = #{PAPER_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					SPECIAL_ID =  #{pd.keywords} 
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			PAPER_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 获取指定数据 -->
	<select id="findPaperNamesAndID" parameterType="pd" resultType="pd">
		select PAPER_ID, TITLE
		from 
		<include refid="tableName"></include>
		where 1=1 
		<if test="SPECIAL_ID != null and '' != SPECIAL_ID">
			and SPECIAL_ID = #{SPECIAL_ID}
		</if>
	</select>
	
	<!-- 通过special查找-->
	<select id="findBySpecialId" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			SPECIAL_ID = #{SPECIAL_ID}
	</select>
	
	<!-- 通过SPECIAL_ID数组查找item -->
	<select id="findAllBySpecialIds" parameterType="String" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where 
			SPECIAL_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</select>
	
</mapper>