<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserAndSpecialMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TR_USERANDSPECIAL
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
			
		USER_ID,	
		SPECIAL_ID,	
		PAPER_ID,
		CHOICE_ANSWER,	
		CHOICE_GRADE,	
		FILL_ANSWER,	
		FILL_GRADE,	
		SUBJECTIVE_ANSWER,	
		SUBJECTIVE_GRADE,	
		TOTLE_GRADE,	
		STATUS,	
		SUBMIT_TIME,	
		USERANDSPECIAL_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
			
		#{USER_ID},	
		#{SPECIAL_ID},	
		#{PAPER_ID},	
		#{CHOICE_ANSWER},	
		#{CHOICE_GRADE},	
		#{FILL_ANSWER},	
		#{FILL_GRADE},	
		#{SUBJECTIVE_ANSWER},	
		#{SUBJECTIVE_GRADE},	
		#{TOTLE_GRADE},	
		#{STATUS},	
		#{SUBMIT_TIME},	
		#{USERANDSPECIAL_ID}
	</sql>
	
	<!-- 专题表 -->
	<sql id="specialTableName">
		TR_SPECIAL
	</sql>
	
	<!-- 学员表 -->
	<sql id="userTableName">
		sys_app_user
	</sql>
	
	<!-- 班级专题表 -->
	<sql id="userAndSpecialTableName">
		TR_CLASSANDSPECIAL
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			USER_ID = #{USER_ID} AND
			SPECIAL_ID = #{SPECIAL_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			USERANDSPECIAL_ID = #{USERANDSPECIAL_ID},
			USER_ID = #{USER_ID},
			SPECIAL_ID = #{SPECIAL_ID},
			PAPER_ID = #{PAPER_ID},
			CHOICE_ANSWER = #{CHOICE_ANSWER},
			CHOICE_GRADE = #{CHOICE_GRADE},
			FILL_ANSWER = #{FILL_ANSWER},
			FILL_GRADE = #{FILL_GRADE},
			SUBJECTIVE_ANSWER = #{SUBJECTIVE_ANSWER},
			SUBJECTIVE_GRADE = #{SUBJECTIVE_GRADE},
			TOTLE_GRADE = #{TOTLE_GRADE},
			STATUS = #{STATUS},
			SUBMIT_TIME = #{SUBMIT_TIME},
			USERANDSPECIAL_ID = USERANDSPECIAL_ID
		where 
		USERANDSPECIAL_ID = #{USERANDSPECIAL_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			USERANDSPECIAL_ID = #{USERANDSPECIAL_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.types != null"><!-- 关键词检索 -->
			<foreach collection="pd.types" item="item" index="index" open="AND STATUS IN (" separator="," close=")">
				#{pd.types[${index}]}
			</foreach>
		</if>
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					SPECIAL_ID =  #{pd.keywords} 
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			USERANDSPECIAL_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 通过special删除-->
	<delete id="deleteBySpecialId" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			SPECIAL_ID = #{specialId}
	</delete>
	
	<!-- 通过SPECIAL_ID数组批量删除item -->
	<delete id="deleteAllBySpecialIds" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			SPECIAL_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 通过USER_ID查询 -->
	<select id="datalistPageByUserId" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			USER_ID = #{pd.USER_ID}
	</select>
	
	
	
	<!-- 通过ID获取数据 -->
	<select id="findByUserIdAndSpecialId" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			USER_ID = #{USER_ID} AND SPECIAL_ID = #{SPECIAL_ID}
	</select>
	
</mapper>